extends layout

block content
        div Welcome to the CS: Go Drawing Board!  Here you can develop your very own thingamajigs.
        a(href='/auth/steam')
            img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png')