doctype html5
html
        head
                title CS: GO Drawing Board
                link(rel='stylesheet', href='/styles/main.css')
                block custHead
        body
                div#header
                        span#navMain
                                a(href='/') CS: GO Drawing Board
                                a(href='/create') Create a strat
                        span#navUser
                div#mainWrapper
                div#content
                        block content
                div#footer.
                        Source available at <a href="https://github.com/DuckSyrup/csgo-drawing-board/">GitHub</a>.
