doctype html5
html
        head
                title CS: GO Drawing Board
                link(rel='stylesheet', href='/styles/main.css')
                block custHead
        body
                div#mainWrapper
                        div#header
                                span#navMain
                                        a(href='/') CS: GO Drawing Board
                                        a(href='/create') Create a strat
                                span#navUser
                                        a(href='/')
                        hr
                        div#content
                                block content
                        hr
                        div#footer
                                div#copyright © 2014 <a href="https://github.com/DuckSyrup">Duck Syrup</a>
                                div#source Source available at <a href="https://github.com/DuckSyrup/csgo-drawing-board/">GitHub</a>.
