extends layout

block content
	form(action='/signup/init', method='post')
		div
			label(for='name') CS:GO Drawing Board Username
				input(id='name', type='text', value='', name='name')
		input(type='submit', value='Create User')
