body {
	background-color:#ccc;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:15px;
}

#mainWrapper {
	background-color:#ddd;
	width:860px;
	margin: 0 auto;
	padding:30px;
}

#header{
	position:relative;
	height:23px;
	font-size:20px;
}
.navElement{
	position:absolute;
	bottom:0;
}
.navElement.left{
	width:70%;
	left:0;
	text-align:left;
}
.navElement.right{
	width:30%;
	right:0;
	text-align:right;
}
.navLink {
	padding-right: 10px;
}

#error {
	background-color: #FF9E99;
}

#footer{
	text-align: center;
	font-size:15px;
}